name: CI

on: push

#on:
# push:
#   branches:
#     - master
#   tags:
#     - "v*"
# pull_request:
#   branches:
#     - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.3"

      - name: Install Python dependencies
        run: uv sync --group tests --group generator

      - name: Run tests
        run: uv run --group tests --group generator pytest

  docs:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Install additional dependencies for documentation
        run: uv sync --group docs

      - name: Install Pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Build documentation
        run: uv run --group docs sphinx-build docs/ docs/_build

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Build the package
        run: uv build

  #publish:
  #  runs-on: ubuntu-latest
  #  needs: build
  #  if: github.ref == 'refs/heads/master'
  #
  #  steps:
  #    - name: Checkout code
  #      uses: actions/checkout@v6
  #
  #    - name: Publish the package
  #      run: uv publish
  #      env:
  #        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
