name: CI

on: push

# on:
#   push:
#     branches:
#       - master
#     tags:
#       - "v*"
#   pull_request:
#     branches:
#       - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          python-version: ${{matrix.python-version}}

      - name: Install Python dependencies
        run: uv sync --group tests --group generator

      - name: Run tests
        run: uv run --group tests --group generator pytest

  docs:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Install additional dependencies for documentation
        run: uv sync --group docs

      - name: Install Pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Build documentation
        run: uv run --group docs sphinx-build docs/ docs/_build

      - name: Upload docs artifact
        uses: actions/upload-artifact@v6
        with:
          name: docs
          path: docs/_build/**

  publish_docs:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Publish
        run: ./gh-pages.sh

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Build the package
        run: uv build

      - name: Upload distribution artifact
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/**

  publish:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Download distribution artifact
        uses: actions/download-artifact@v7
        with:
          name: dist

      - name: Publish the package
        run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
